* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_5 {
  width: 100%;
  height: 100%;
  background: url("../images/v1_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  overflow: hidden;
}
.v58_4 {
  width: 50px;
  height: 49px;
  background: url("../images/v58_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 9px;
  overflow: hidden;
}
.v58_2 {
  width: 100%;
  height: 91px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 933px;
  left: 41px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v58_7 {
  width: 123px;
  height: 31px;
  background: url("../images/v58_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 713px;
  overflow: hidden;
}
.v56_19 {
  width: 87px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 36px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v56_15 {
  width: 21px;
  height: 21px;
  background: url("../images/v56_15.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v56_20 {
  width: 21px;
  height: 21px;
  background: url("../images/v56_20.png");
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 611px;
  border-radius: 50%;
}
.v58_12 {
  width: 21px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 578px;
  border-radius: 50%;
}
.v58_6 {
  width: 97px;
  height: 31px;
  background: url("../images/v58_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 632px;
  overflow: hidden;
}
.v58_10 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v56_23 {
  width: 21px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v58_8 {
  width: 129px;
  height: 21px;
  background: url("../images/v58_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 528px;
  left: 783px;
  overflow: hidden;
}
.v56_17 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 38px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v56_14 {
  width: 21px;
  height: 21px;
  background: url("../images/v56_14.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v58_9 {
  width: 159px;
  height: 31px;
  background: url("../images/v58_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 783px;
  overflow: hidden;
}
.v56_16 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v56_12 {
  width: 21px;
  height: 21px;
  background: rgba(52,42,42,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 50%;
}
.v56_26 {
  width: 609px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 305px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_6 {
  width: 459px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 164px;
  left: 166px;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
